.sim{width: 500px;
    height: 400px;
    position: relative;
    top: 20px;
    left: 30px;
   background-color: rgb(97, 143, 237);}

.nao{width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: darkred;}