.sim{width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top: 60px;}

    img{display: block;
        margin: 0 auto;}

    p{text-align: center;
      padding: 100px;}