/*seletores de ccs*/

p {color: white;}

p{color: white;} 

li {font-family:cursive;color: rgb(20, 19, 19);}

body {background:linear-gradient(to right, red, black)}

  a{background-color: black;}

  a {color: white;}