.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #646464;
    color: darkred;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
}

.links {
    display:inline-block;
    padding: 0 6em;

}

a{color: rgb(0, 0, 0);}

h1{text-align: center;}

.formulario{text-align: center;}

h2{text-align: center;}

input{color:darkred;}

.formulario{color: darkred;}
