.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #646464;
    color: darkred;
    text-align: center;
    font-weight: bold;
    z-index: 1000;
}

.links {
    display:inline-block;
    padding: 0 6em;

}

a{color: rgb(0, 0, 0);}

h1{text-align: center;}

tr:nth-child(odd) {
    background-color: #646464;
}

tr:nth-child(even) {
    background-color: rgb(201, 21, 21);
}