body{margin: 0;}

.ronaldo{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.div1, .div2, .div3 {
   
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-top: 100px;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}



.roberto {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    text-align: center;
}

.div4, .div5, .div6 {
   
    height: 100px;
    width: 100px;
    display: inline-block;
    align-content: center;
    margin: 15px;
}

.robsom{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.div7, .div8, .div9 {
   
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-bottom: 100px;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.div1{background-color: pink;
      border: black 2px solid;}



.div2 {background-color: aqua;
       border: 2px dotted black;}


.div3{background-color: blue;
      border: black 2px solid;}



.div4{background-color: purple;
      border: black dotted 2px;}



.div5{background-color: brown;
      border: solid black 2px;}


.div6{background-color: salmon;
      border: 2px black dotted;}


.div7{background-color: greenyellow;
      border: 6px double black;}


.div8{background-color: bisque;
      border: dotted 2px black;}


.div9{ background-color: lightcoral;
       border: 2px solid black;}


.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover, .div8:hover, .div9:hover{
    color: white;}