h1{background-color: black  ;color: rgb(174, 130, 0); text-shadow: 2px 2px 2px black;}

body {background:linear-gradient(to bottom, rgb(168, 132, 24), #ffffff)}

p{color: rgb(174, 130, 0); border: 5px solid black; border-radius: 10px; background-color: rgb(255, 255, 255);}

h2{color: rgb(174, 130, 0); text-shadow: 2px 2px 2px black ;}

